<!DOCTYPE html>
<html>
<head>
    <title>Welcome to TourneyTrack</title>
    
    <script type="text/javascript" src="/js/qunit/bracket.js"></script>
    <script type="text/javascript" src="/libs/qunit/qunit-1.12.0.js"></script>
    <link rel="stylesheet" type="text/css" href="/libs/qunit/qunit-1.12.0.css">

</head>
<body>
    <h1>TESTING BRACKET API</h1>

    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
</body>

</html>